header {
  height: 80px;
  background-color: blue;
}

section {
  height: 500px;
}

.content {
  width: 100%;
  height: 500px;
}

.top-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  height: 100px;
  background-color: brown;
}
