body {
  margin: 0;
}

header {
  height: 80px;
  background-color: #5a3920;
}

h1 {
  color: #FFFFFF;
  margin: 0px;
  padding: 10px;
}

.top-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 500px;
}

article {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin: 0;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid black;
  padding: 5px;
}

footer {
  height: 100px;
  background-color: brown;
}
