
body {
  margin: 0;
}

header {
  padding: 10px;
  background-color: #5A3920;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  color: #FFFFFF;
}

nav > ul {
display: flex;
list-style: none;
}

nav > ul > li {
  margin-right: 3em;
}

nav > ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.top-image-wrap {
  height: 500px;
}

.top-image {
height: 100%;
width: 100%;
object-fit: cover;
}

.content:nth-child(2n) {
  background-color: #EDE7E4;
}

.box-wrap {
  display: flex;
  width: 500px;
  margin: 0 auto;
  padding: 100px 0;
  flex-wrap: wrap;
}

.box {
  height: 250px;
  width: 250px;
  background-color: #8CA6B5;
}

.box > p {
  color: #FFFFFF;
  margin: 3em;
}

.box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-form-wrap {
  display: flex;
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.book-review-wrap {
  width: 50%;
}

.book-review-wrap table th, .book-review-wrap table td, .book-review-wrap table tr {
  padding: 5px;
}

.book-review-wrap table th {
  text-align: right;
}

.title {
  font-size: 20px;
}

form {
  width: 50%;
}

form > table {
border-collapse: collapse;
}

form table tr th, form table tr td {
  border: solid 1px black;
  padding: 5px;
}

form table th {
  text-align: right;
}

footer {
  height: 100px;
  background-color: #6D7376;
  text-align: center;
  display: flex;
  align-items: center;
}

footer > p {
  color: #FFFFFF;
  width: 100%;
}