header {
  height: 80px;
  background-color: blue;
}

section {
  height: 500px;
  display: flex;
}

.content {
  width: 70%;
  background-color: yellow;
}

.side-bar {
  width: 30%;
  background-color: green;
}

footer {
  height: 100px;
  background-color: brown;
}

