.inner {
  display: flex;
  justify-content: center;
}

.box-top {
  width: 250px;
  height: 250px;
  background-color: blue;
  margin: 0 5px 5px 0;
}

.box-middle {
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: 0 5px 5px 0;
}

.box-bottom {
  width: 150px;
  height: 150px;
  background-color: green;
  margin: 0 5px 5px 0;
}