body {
  margin: 0px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #5a3920;
}

h1 {
  color: #FFFFFF;
  margin: 0px;
  padding: 10px;
}

.content {
  width: 100%;
  height: 500px;
}

form {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin: 0px;
  padding: 10px;
}

table {
  border-collapse:  collapse; 
}

table th, table td {
  border: solid 1px black;
  padding: 5px;
}

table th {
    text-align: right;
}

footer  {
  width: 100%;
  height: 100px;
  background-color: brown;
}