body {
  margin: 0px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #5A3920;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  margin: 0px;
  padding: 10px;
}

#nav{
  height: 100%;
  padding: 0px;
}

#nav ul{
  height: 100%;
  display: flex;
  padding: 0px;	
  margin: 0px;
}

#nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 3em;
  vertical-align: middle;	
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#nav ul li a:hover{
  font-weight: bold;
}

.content {
  width: 100%;
}

.content:nth-child(even) {
  background-color: #EDE7E4;
}

.wrapTopImage {
  width: 100%;
  height: 500px;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  margin: 0px;
  padding: 10px;
}

h3 {
  margin: 0px;
  padding: 10px;
}

article {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.wrapBoxs {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 100px 0 100px 0;
}

.box{
  width: 250px;
  height: 250px;
  background-color: #8CA6B5;
}

.box p {
  color: #FFFFFF;
  margin: 3rem;
}

.box img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.wrapBookAndForm {
  display: flex;
  padding: 50px 0;
}

.wrapBooks {
  width: 50%;
  margin: 0;
}

.wrapBooks table th, .wrapBooks table td {
  padding: 5px;
}

.wrapBooks table th {
  text-align: right;
}

.title {
  font-size: 20px;
}

form table {
  border-collapse:  collapse; 
}

form table th, form table td {
  border: solid 1px black;
  padding: 5px;
}

form table th {
    text-align: right;
}

footer  {
  width: 100%;
  height: 100px;
  background-color: #6D7376;
  text-align: center;
}

footer p {
  color: #FFFFFF;
  height: 100px;
  line-height: 100px;
}